{% extends "base.html" %}
{% load static %}

{% block content %}

    <form method="get" class="form-group col-auto col-sm-4 col-md-4 col-lg-4" id="base_form">
        {% csrf_token %}

        <div id="form_field">{{ filter.form.name}}</div>
        {{ filter.form.errors }}

        <button type="submit" class="btn_my btn btn-secondary">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr class="thead-light header">
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>

      {% for category in filter.qs %}
          <tbody>
              <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ category.id }}</td>
                  <td>{{ category.name }}</td>
              </tr>
          </tbody>
      {% endfor %}
    </table>

{% endblock %}